<div class="about we-do">
    <div class="decoration-content">
        <div class="content-hexagono" [inlineSVG]="'assets/img/graphics/hexagono_1.svg'"></div>
    </div>
    
    <!------------------- Content ----------------------->
    <div class="content-about">
    
        <div class="decoration-content">
            <div class="content-figure-1" [inlineSVG]="'assets/img/graphics/hexagono_outline_azul.svg'"></div>
        </div>
    
        <!------------- Wrapper  -------------->
        <div class="info-section">
    
            <div class="title din din-spacing-sm">
                <h2 class="title-txt din-lg">Lo que Hacemos</h2>
            </div>
    
    
        </div>
        <!--*****************************************************-->
    
        <div class="img-section">
    
            <div class="decoration-content">
                <h1 class="text-decor din text-uppercase">Lo que <br> hacemos</h1>
            </div>
    
            <img class="img-link" src="assets/img/backgrounds/conduhierro_lo_que_hacemos_med.png" alt="Lo_Que_Hacemos">
    
        </div>
        <!--****************************************************-->
    
        <div class="info-container">
            <p class="info-title">Lorem ipsum dolor sit amet.</p>
            <p class="info-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus optio
                soluta, asperiores iusto dolor pariatur, consectetur placeat modi totam facilis voluptas qui
                dignissimos, fugiat veniam ullam impedit quisquam unde eos a voluptates laborum illum laboriosam
                repellendus! Quam soluta debitis minima!
            </p>
        </div>
        <!-------------**** Wrapper ****-------------->

        <a class="button-white" routerLink="/portafolio">
            <div class="arrow-link" [inlineSVG]="'assets/img/graphics/about_arrow.svg'"></div>
        </a>
    
    </div>
    <!---------------***** Content *****----------------->
</div>