<div class="home">
    <!------------------- Content ----------------------->
    <div class="swiper-container" [swiper]="config" [(index)]="index">
        <div class="swiper-wrapper">
    
            <!-------****************************--------->
            <div class="swiper-slide"
                style="background: url('assets/img/backgrounds/conduhierro_img_home_1.png') no-repeat top center / cover">
                <div class="content-slider">
                    <div class="slider-text text-left">
                        <h1 class="din din-xl text-uppercase">Bienvenido</h1>
                        <h1 class="din din-xl text-uppercase">a conduhierro</h1>
    
                        <h3 class="txt-Lg">Tu solución en materiales para construcción</h3>
    
                        <p class="btn">
                            <a class="btn-primary" routerLink="/servicios">
                                Conocer más
                                <span class="line"></span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
    
            <!-------****************************--------->
            <div class="swiper-slide"
                style="background: url('assets/img/backgrounds/conduhierro_img_home_1.png') no-repeat top center / cover">
                <div class="content-slider">
                    <div class="slider-text text-left">
                        <h1 class="din din-xl text-uppercase">Bienvenido</h1>
                        <h1 class="din din-xl text-uppercase">a conduhierro</h1>
    
                        <h3 class="txt-Lg">Tu solución en materiales para construcción</h3>
    
                        <a class="btn btn-primary" href="javascript:;">
                            Conocer más
                        </a>
                    </div>
                </div>
            </div>
    
        </div>
    
        <div class="swiper-pagination"></div>
    </div>
    <!---------------***** Content *****----------------->
    
    <!------------------- Footer ----------------------->
    <app-footer></app-footer>
    <!---------------***** Footer *****----------------->
</div>