.home {
    display: flex;
    overflow: hidden;
    position: relative;
    width: $default-width;
    height: $default-width;
    flex-flow: column nowrap;
    justify-content: flex-end;

    .swiper-container {
        margin: 0;
        display: flex;

        .swiper-wrapper {
            width: 100vw !important;
            height: 100vh !important;
        }

        .swiper-slide {
            display: flex;
            height: 100vh;
            width: $default-width;
            overflow-x: hidden;
            flex-flow: column wrap;
            justify-content: center;
            align-items: flex-start;
            mix-blend-mode: multiply;

            .content-slider {
                display: flex;
                align-items: center;
                flex-flow: row nowrap;
                width: $default-width;
                height: $default-width;
                padding-left: $spacer-5 * 6;
                justify-content: flex-start;
                background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 25%, white 90%);

                @include mediaXL {
                    padding-left: 12.12rem;
                }


                @include mediaLg {
                    padding-left: 11rem;
                }


                @include mediaXSm {
                    padding: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }


                .slider-text {
                    height: auto;
                    display: flex;
                    position: relative;
                    color: $primary-color;
                    align-items: flex-start;
                    width: $default-width - 25;
                    flex-flow: column nowrap;

                    .btn {
                        margin-top: $spacer-6 * 1.5;

                        @include mediaXXSm {
                            margin-top: 6rem;
                        }


                        @include mediaXSm-large {
                            margin-top: 8rem;
                        }
                    }

                    @include mediaXSm {
                        text-align: center;
                        align-items: center;

                        h1 {
                            &:nth-child(1) {
                                text-transform: none;
                                font-size: 2.35rem;
                                font-family: 'Montserrat', sans-serif;
                                font-weight: 600;
                            }
                        }

                        h3 {
                            text-align: center;
                            margin-top: .8rem;
                        }
                    }


                    @include mediaXXSm {
                        margin-top: 2rem;

                        h1 {
                            &:nth-child(1) {
                                font-size: 2rem;
                            }
                        }
                    }


                    @include media-iphone-4 {
                        h1 {
                            &:nth-child(1) {
                                font-size: 1.85rem;
                            }
                        }
                    }
                }
            }
        }

        .swiper-pagination {
            left: 0;
            bottom: 0;
            width: 11%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            flex-flow: column nowrap;

            @include mediaXL {
                left: -2rem;
            }


            @include mediaMd {
                left: 0.5rem;
            }


            @include mediaXSm {
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                transform: rotate(-90deg);
            }


            @include mediaXXSm {
                bottom: -1rem;
            }


            .swiper-pagination-bullet {
                opacity: 1;
                display: flex;
                position: relative;
                margin: $spacer-2 0;
                align-items: center;
                justify-content: center;
                background: $primary-color;
                transition: .3s background ease-out;

                &:focus {
                    outline: none;
                }

                &:before {
                    content: 'O';
                    font-size: 0px;
                    line-height: 1;
                    font-weight: 400;
                    position: absolute;
                    border-radius: 50%;
                    color: $primary-color;
                    background: transparent;
                    transition-duration: .3s;
                    transition-property: width, height, font-size;
                    transition-timing-function: ease-out;
                }

                &:after {
                    width: 0;
                    content: "";
                    height: 2px;
                    position: absolute;
                    left: $spacer-5 * -4 - 1;
                    background: $primary-color;
                    transition: all .3s ease-in-out;
                }
            }

            .swiper-pagination-bullet-active {
                background: $default-color;

                &:before {
                    font-size: 28px;
                }

                &:after {
                    top: $spacer-1 - 0.8;
                    width: $spacer-5 * 4;
                    transition-duration: .3s;
                    transition-property: width, top;
                    transition-timing-function: ease-out;
                }
            }
        }
    }

    @include mediaXSm {
        app-footer {
            display: none;
        }
    }
}
