<div class="services">
    <!------------------- Content ----------------------->
    <div class="content-services">
    
        <!-------****************************--------->
        <div id="section-1" class="item-content">

            <a class="link-responsive" routerLink="/nosotros"></a>

            <img class="bg-content" src="assets/img/backgrounds/conduhierro_quienes_somos_bg.png"
                alt="bg-quienes-somos">
            <img class="bg-content-2" src="assets/img/backgrounds/conduhierro_quienes_somos_big.png"
                alt="bg-quienes-somos">
    
            <div class="content-wrapper">
    
                <div class="decoration-content">
                    <div class="content-hexagono" [inlineSVG]="'assets/img/graphics/hexagono_1.svg'"></div>
                    <div class="content-figure-1" [inlineSVG]="'assets/img/graphics/linea_trama_2.svg'"></div>
                    <div class="content-figure-2" [inlineSVG]="'assets/img/graphics/linea_trama_2.svg'"></div>
                    <div class="content-figure-3" [inlineSVG]="'assets/img/graphics/linea_trama_2.svg'"></div>
                </div>
    
                <div class="text-content text-center">
                    <h1 class="din din-lg text-uppercase">quiénes somos</h1>
                    <p class="btn">
                        <a class="btn-secondary" routerLink="/nosotros">
                            Conocer más
                            <span class="line"></span>
                        </a>
                    </p>
                </div>
    
            </div>
    
            <div class="decoration-item">
                <h1 class="din text-uppercase">quiénes somos</h1>
                <div class="content-figure" [inlineSVG]="'assets/img/graphics/hexagono_3.svg'"></div>
            </div>
    
        </div>
    
        <!-------****************************--------->
        <div id="section-2" class="item-content">

            <a class="link-responsive" routerLink="/lo-que-hacemos"></a>

            <img class="bg-content" src="assets/img/backgrounds/conduhierro_lo_que_hacemos_bg.png"
                alt="bg-lo-que-hacemos">
            <img class="bg-content-3" src="assets/img/backgrounds/conduhierro_lo_que_hacemos_big.png"
                alt="bg-lo-que-hacemos">
    
            <div class="content-wrapper">
    
                <div class="text-content text-center">
                    <h1 class="din din-lg text-uppercase">lo que hacemos</h1>
                    <p class="btn">
                        <a class="btn-primary" routerLink="/lo-que-hacemos">
                            Conocer más
                            <span class="line"></span>
                        </a>
                    </p>
                </div>
    
                <div class="decoration-content">
                    <div class="content-figure-1" [inlineSVG]="'assets/img/graphics/linea_gradient_1.svg'"></div>
                    <div class="content-figure-2" [inlineSVG]="'assets/img/graphics/linea_gradient_1.svg'"></div>
                    <div class="content-figure-3" [inlineSVG]="'assets/img/graphics/linea_gradient_1.svg'"></div>
                </div>
    
            </div>
    
            <div class="decoration-item">
                <h1 class="din text-uppercase">lo que hacemos</h1>
                <div class="content-figure" [inlineSVG]="'assets/img/graphics/hexagono_outline.svg'"></div>
            </div>
    
        </div>
    
        <!-------****************************--------->
        <div id="section-3" class="item-content">

            <a class="link-responsive" routerLink="/portafolio"></a>

            <img class="bg-content" src="assets/img/backgrounds/conduhierro_nuestros_productos_bg.png"
                alt="bg-nuestros-productos">
    
            <div class="content-wrapper">
    
                <img class="decoration-img-2" src="assets/img/backgrounds/conduhierro_nuestros_productos.png"
                    alt="nuestros-productos">
    
                <div class="text-content text-center">
                    <h1 class="din din-lg text-uppercase">nuestros productos</h1>
                    <p class="btn">
                        <a class="btn-secondary" routerLink="/portafolio">
                            Conocer más
                            <span class="line"></span>
                        </a>
                    </p>
                </div>
    
                <div class="decoration-content">
                    <div class="content-figure" [inlineSVG]="'assets/img/graphics/hexagono_2.svg'"></div>
                    <div class="content-figure-2" [inlineSVG]="'assets/img/graphics/hexagono_3.svg'"></div>
                </div>
    
            </div>
    
            <div class="decoration-item">
    
                <h1 class="din text-uppercase">nuestros productos</h1>
                <div class="wrapper-elements">
    
                    <img class="decoration-img" src="assets/img/backgrounds/servicios.png" alt="nuestros-productos">
    
                    <div class="wrapper-figures">
                        <div class="content-figure-1" [inlineSVG]="'assets/img/graphics/linea_trama_4.svg'"></div>
                        <div class="content-figure-2" [inlineSVG]="'assets/img/graphics/linea_trama_5.svg'"></div>
                        <div class="content-figure-3" [inlineSVG]="'assets/img/graphics/linea_trama_5.svg'"></div>
                    </div>
    
                </div>
            </div>
        </div>
    
    </div>
    <!---------------***** Content *****----------------->
</div>