<!------------------- Navbar ----------------------->
<app-navbar></app-navbar>
<!---------------***** Navabr *****----------------->

<!------------------- Dashboard ----------------------->
<main class="dashboard">

    <div class="content-create">

        <!-------****************************--------->
        <div class="bg-purple"></div>

        <!------------------- Form ----------------------->
        <div class="wrapper-form card">

            <div class="wrapper-editor">
                <!-- <textarea [(ngModel)]="content" #ctrl="ngModel"></textarea> -->
                <!-- <div [ngxSummernote]></div> -->
            </div>

        </div>
        <!---------------***** Form *****----------------->

    </div>


    <!-- <input type="text" [(ngModel)]="title" #ctrl="ngModel">
    
    <button (click)="createPost()" [disabled]="!title || !content">{{ buttonText }}</button> -->

</main>
<!---------------***** Dashboard *****----------------->