.bg-1 {
    background: $bg_1;
}

.bg-2 {
    background: $bg_2;
}

.bg-3 {
    background: $bg_3;
}

.bg-4 {
    background: $bg_4;
}

.bg-5 {
    background: $bg_5;
}

.bg-6 {
    background: $bg_6;
}