img {
    height: auto;
    width: $default-width;
}

.p-0 {
    padding: 0;
}

.p-1 {
    padding: $spacer-1;
}

.p-2 {
    padding: $spacer-2;
}

.p-3 {
    padding: $spacer-3;
}

.p-4 {
    padding: $spacer-4;
}

.p-5 {
    padding: $spacer-5;
}

.p-6 {
    padding: $spacer-6;
}