<div class="footer">
    <!------------------- Copyright ----------------------->
    <div class="copyright">
        <span>Copyright &copy; 2019 - Conduhierro, C.A.</span>
    </div>
    <!---------------***** Copyright *****----------------->

    <!------------------- Social ----------------------->
    <div class="social">
        <a href="https://www.instagram.com/" target="_blank">
            <fa-icon [icon]="faInstagram"></fa-icon>
            <span class="text-uppercase">conduhierro</span>
        </a>
    </div>
    <!---------------***** Social *****----------------->
</div>
