<!------------------- Menu ----------------------->
<app-menu></app-menu>
<!---------------***** Menu *****----------------->

<!------------------- SingIn ----------------------->
<main class="singin">

    <div class="container" style="background: url('assets/img/backgrounds/conduhierro_img_home_1.png') no-repeat top center / cover">
        <!-------****************************--------->
        <div class="bg-white"></div>
        
        <!-------****************************--------->
        <div class="wrapper-inputs">

            <h1 class="title-form txt-Lg text-center">Ingresar al panel administrativo</h1>

            <!-------****************************--------->
            <label for="email" class="input-container">
                <input type="text" name="email" id="email" placeholder="&nbsp;" #userEmail require autofocus>
                <span class="label">Correo electrónico</span>
                <span class="border"></span>
            </label>

            <!-------****************************--------->
            <label for="password" class="input-container">
                <input type="password" name="password" id="password" placeholder="&nbsp;" #userPassword required>
                <span class="label">Contraseña</span>
                <span class="border"></span>
            </label>

            <!-------****************************--------->
            <div class="btn">
                <button class="btn-full txt-XSm" data-text="INICIAR SESIÓN" (click)="auth.login(userEmail.value, userPassword.value)">

                    <span class="btn-overlay" data-reactid="111"></span>
                    <span class="btn-content text-uppercase">
                        Iniciar sesión
                    </span>

                </button>
            </div>

        </div>

    </div>
</main>
<!---------------***** SingIn *****----------------->
